.quantity-selector {
    display: inline-flex;
    align-items: center;
    background-color: #c8e775;
    border-radius: 10px;
    overflow: hidden;
    font-size: 24px;
    font-weight: bold;
  }
  
  .qty-btn {
    background: none;
    border: none;
    padding: 6px 15px;
    cursor: pointer;
    color: #000;
    font-size: 24px;
    transition: background 0.2s;
  }
  
  .qty-btn:hover {
    background-color: #b2d661;
  }
  
  .qty-value {
    padding: 10px 20px;
    border-left: 4px solid #000;
    border-right: 4px solid #000;
  }
  
.add-to-cart {
  display: inline-flex;
  align-items: center;
  background-color: #c8e775;
  border-radius: 10px;
  overflow: hidden;
  font-size: 24px;
  font-weight: bold;
}