  /* Footer */
footer {
  background-color: #cfd9ff;
  padding: 30px 0;
}

.signup-btn {
  background-color: #adbffd;
  border: none;
  padding: 10px 20px;
  border-radius: 999px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 20px;
}

.footer-links {
  display: flex;
  justify-content: space-around;
  font-size: 14px;
}
