/*   SPLIT THIS CSS PAGE INTO COLORS, LAYOUTS, FONTS, ETC*/

/* General page style */
.split-display {
  display: flex;
  min-height: 500px;
  

}
.split-right {
  flex: 1;
  background-color: #f8eac9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;
  text-align: center;
  h1 {
    font-size: 3em;
    font-style:normal;
  }

  p {
    font-size: 2em;
    padding-top: 0.5em;
    padding-left: 3em;
    padding-right: 3em;
  }

}

.split-left {
  flex: 1;
}


.sample-product {
  display: flex;
  min-height: 300px;
  background-color: #f8eac9;
  padding: 5em;  

}
.split-sample {
  flex: 1;
  flex-direction: column;
  justify-content: center;
  display:flex;
  align-items: center;
}

.text {
  line-height: 1em;
  p {
    font-family: Segoe;
    font-size: 2em;
  }
}


.Catering {
  display: flex;
  min-height: 300px;
  padding: 3em;  
}
.split_cater {
  flex: 1;
  flex-direction: column;
  justify-content: center;
  display:flex;
  align-items: center;
  padding:3em;
}

.product-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.quantity-selector {
  display: flex;
  align-items: center;
  background-color: #c8e775;
  border-radius: 8px;
  overflow: hidden;
  font-size: 20px;
}