  /* Navigation */
  /* Navbar styles */

@font-face {
  font-family: Inter, RunWild, Jeju, Segoe;
  src: url(../fonts/Inter_18pt-Regular.ttf),
        url(../fonts/Run\ Wild\ -\ Demo.ttf),
        url(../fonts/JejuMyeongjo-Regular.ttf),
        url(../fonts/segoescript.ttf);
  font-weight: normal;
  font-style: normal;
}

.navbar {
  background-color: rgba(191, 230, 118, 1);
  padding: 1em 0;
}
  
  .nav-container {
    max-width: 1000px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 1em;
  }
  
  .logo {
    color: black;
    font-size: 1.5em;
    font-weight: bold;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 1em 1em ;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 3em;
    margin: 0;
    padding: 0;
  }
  
  .nav-links li a {
    font-family: Segoe;
    color: black;
    text-decoration: none;
    font-weight: 500;
  }
  
  .nav-links li a:hover {
    text-decoration: underline;
    color: red;
  }

