.custom-dropdown-container {
    width: 200px;
    font-family: sans-serif;
    margin: 40px auto;
  }
  
  .custom-dropdown-toggle {
    background-color: #c8e775;
    padding: 12px;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .custom-dropdown-options {
    background-color: #c8e775;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 5px;
    display: none;
    flex-direction: column;
  }
  
  .custom-dropdown-options div {
    padding: 10px;
    cursor: pointer;
  }
  
  .custom-dropdown-options div:hover {
    background-color: #b2d661;
  }
  
  .below-content {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
  }
  