
.split-block {
    background-color: #FFECC9;  
    display: flex;
    align-items: flex-start;
    gap: 40px;
    padding: 2em;
    padding-bottom: 10em;
    flex-wrap: wrap;

}
.block-side {
    flex: 1;
    flex-direction: column;
    display:flex;
}

.block_1 {
  background-color: #b7e47b;
  padding-left: 3em;
  padding-right: 3em;
  border-radius: 30px;
  width: 25em;
  max-width: 800px;
  margin: 20px auto;
  font-size: 18px;
  line-height: 1.6;
}

.block_2 {
  background-color: #b7e47b;
  padding: 30px;
  width: 25em;
  border-radius: 30px;
  max-width: 800px;
  margin: 20px auto;
  font-size: 18px;
  line-height: 1.6;
}
