
.split-block {
    background-color: #FFECC9;  
    display: flex;
    align-items: flex-start;
    gap: 4vh;
    padding: 2vh;
    padding-bottom: 10vh;
    flex-wrap: wrap;

}
.block-side {
    flex: 1;
    flex-direction: column;
    display:flex;
}

.block_1 {
  background-color: #b7e47b;
  padding-left: 3vh;
  padding-right: 3vh;
  border-radius: 3vh;
  width: 25vh;
  max-width: 800px;
  margin: 2vh auto;
  font-size: 2vh;
  
}

.block_2 {
  background-color: #b7e47b;
  padding: 30px;
  width: 25vh;
  border-radius: 3vh;
  max-width: 800px;
  margin: 2vh auto;
  font-size: 2vh;
}
