
.split-block {
    background-color: #FFECC9;  
    display: flex;
    align-items: flex-start;
    gap: 4vmax;
    padding: 2vmax;
    padding-bottom: 10vmax;
    flex-wrap: wrap;

}
.block-side {
    flex: 1;
    flex-direction: column;
    display:flex;
}

.block_1 {
  background-color: #b7e47b;
  padding-left: 3vmax;
  padding-right: 3vmax;
  border-radius: 3vmax;
  width: 30vmax;
  margin: 2vmax auto;
  font-size: 2vmax;
}

.block_2 {
  background-color: #b7e47b;
  width: 40vmax;
  border-radius: 3vmax;
  margin: 2vmax auto;
  font-size: 2vmax;
}
