  /* Header section */

  @font-face {
    font-family: Inter;
    src: url(../fonts/Inter_18pt-Regular.ttf);
  }

  @font-face {
    font-family: RunWild;
    src: url(../fonts/Run\ Wild\ -\ Demo.ttf);
    font-style:normal;
  }
  
  @font-face {
    font-family: Segoe;
    src: url(../fonts/segoescript.ttf);
  }

  @font-face {
    font-family: Jeju;
    src: url(../fonts/JejuMyeongjo-Regular.ttf);
  }
  

  h1 {
    font-family: RunWild;
    color: #000000;
    text-align: center;
    font-size: 2vmax;
    font-weight: normal;
  }

  h2 {
    font-family: Segoe;
    color: #000000;
    text-align: center;
    font-size: 2vmax;
    font-weight: normal;
  }
  
  p {
    font-family: Inter;
    text-align: center;
    font-size: 1vmax;
  }

  li a {
    font-family: Segoe;
    color: black;
    text-decoration: none;
  }
  
  li a:hover {
    text-decoration: none;
    color: rgb(135, 134, 134);
  }

  .title {
    align-items: center;
    line-height: 0.5vmax;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2vmax;

  }

/* search popup */
.search-btn a {
  color: black;
  text-decoration: none;
}

.search-nav a {
    font-family: Segoe;
    color: black;
    text-decoration: none;
    font-size: 2vmax;
}


/* for shop page */
.shop-category-title {
  font-family: RunWild;
  font-size: 4vmax;
  margin-top: 4vmax;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
}

.product a {
    font-family: Segoe;
    font-size: 2vmax;
    color: black;
    text-decoration: none;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
}
  
.product a:hover {
    text-decoration: underline;
    color: red;
}

/* product page */
.block_1 p {
  text-align: left;
}

/* cart page */
.desc p {
  margin: 0;
  text-align: left;
}

/* checkout page */
.checkout-btn a {
  text-decoration: none;
  color: white;
  font-family: Inter;
}

.checkout-btn:hover a {
  text-decoration: none;
  color: black;
  font-family: Inter;
}

/* search results page */
.search-result-count {
  font-family: Inter;
  font-size: 1vmax;
  margin-top: 4vmax;
}

/* individual item page */
.item-count {
  font-family: Inter;
  font-size: 1vmax;
}