  /* Header section */

  @font-face {
    font-family: Inter;
    src: url(../fonts/Inter_18pt-Regular.ttf);
  }

  @font-face {
    font-family: RunWild;
    src: url(../fonts/Run\ Wild\ -\ Demo.ttf);
    font-style:normal;
  }
  
  @font-face {
    font-family: Segoe;
    src: url(../fonts/segoescript.ttf);
  }

  @font-face {
    font-family: Jeju;
    src: url(../fonts/JejuMyeongjo-Regular.ttf);
  }
  

  h1 {
    font-family: RunWild;
    color: #000000;
    text-align: center;
    font-size: 3em;
    font-weight: normal;
  }

  h2 {
    font-family: Segoe;
    color: #000000;
    text-align: center;
    font-size: 3em;
    font-weight: normal;
  }
  
  p {
    font-family: Inter;
    text-align: center;
    font-size: 1.1em;
  }

  li a {
    font-family: Segoe;
    color: black;
    text-decoration: none;
  }
  
  li a:hover {
    text-decoration: none;
    color: rgb(135, 134, 134);
  }

  .title {
    align-items: center;
    line-height: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2em;

  }

/* banners */
.banner {
  background-color: #cfd9ff;
  text-align: center;
  padding: 3vh 4vh 5vh;
  font-size: 20px;
  font-family: RunWild;
}

/* search popup */
.search-btn a {
  color: black;
  text-decoration: none;
}

.popup-links a {
    font-family: Segoe;
    color: black;
    text-decoration: none;
    font-size: 24px;
}


/* for shop page */
.shop-category-title {
  font-family: RunWild;
  font-size: 40px;
  margin-top: 40px;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
}

.product a {
    font-family: Segoe;
    font-size: 20px;
    color: black;
    text-decoration: none;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
}
  
.product a:hover {
    text-decoration: underline;
    color: red;
}

/* product page */
.block_1 p {
  text-align: left;
}

/* cart page */
.desc p {
  margin: 0;
  text-align: left;
}

/* search results page */
.search-result-count {
  font-family: Inter;
  font-size: 1.1em;
  margin-top: 4em;
}

/*  */