/*   SPLIT THIS CSS PAGE INTO COLORS, LAYOUTS, FONTS, ETC*/

/* General page style */
.split-display {
  display: flex;
  min-height: 500px;
}
.split-right {
  flex: 1;
  background-color: #FFECC9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2vh;
  text-align: center;
}

.split-right h1 {
    font-size: 3vh;
    font-style:normal;
  }

.split-right p {
    font-size: 2vh;
    padding-top: 0.5vh;
    padding-left: 3vh;
    padding-right: 3vh;
  }

.split-left {
  flex: 1;
}


.sample-product {
  display: flex;
  background-color:#FFECC9;
  padding: 5vh;  

}
.split-sample {
  flex: 1;
  flex-direction: column;
  justify-content: center;
  display:flex;
  align-items: center;
}

.text {
  line-height: 1vh;
  p {
    font-family: Segoe;
    font-size: 2vh;
  }
}


.Catering {
  display: flex;
  padding: 2vh;  
}

.split_cater {
  flex: 1;
  flex-direction: column;
  justify-content: center;
  display:flex;
  align-items: center;
  padding:2vh;
}

@media screen and (max-width: 390px) {
.Catering {
  display: flex;
  flex-direction: column;
  padding: 2vh;  
} 
  
}

.product-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1vh;
}

.quantity-selector {
  display: flex;
  align-items: center;
  background-color: #c8e775;
  border-radius: 3vh;
  overflow: hidden;
  font-size: 2vh;
}

@media screen and (max-width: 400px) {
  .split-display {
    display: flex;
    flex-direction: column;
  }
  
} 

/* shop page */
.product-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3vh;
    padding: 2vh;
}

.product {
    width: 30vh;
    text-align: center;
}

/* cart page */

.cart-layout {
  display: flex;
  height: calc(100vh - 16vh); /* Adjust if needed */
}

.cart-left {
  flex: 1;
  overflow-y: auto;
  padding: 2vh;
}

.cart-right {
  width: 50%;
  background-color: #c8e775;
  padding: 3vh 2vh;
  position: sticky;
  top: 0;
  height: 78.1vh;
  box-sizing: border-box;
}

.order-box {
  position: sticky;
  top: 3vh;
}

.order-total {
    padding: 0 5vh;
    display: flex;
    justify-content: space-between;
    font-size: 1.8vh;
}

.checkout {
    padding: 5vh 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 10vh;
}

.cart-item {
  margin-bottom: 2vh;
}

.item-details {
  display: flex;
  justify-content: space-between;
  
}

.price {
  margin-left: auto;
  margin-top: auto;
}

hr {
  border: none;
  border-top: 1px solid #aaa;
  margin: 2vh 0;
}

/* search results page */
.search-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  gap: 3vh;
  padding: 2vh;
}

/* search popup */

.search-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none; /* hidden by default */
  justify-content: center;
  align-items: start;
  z-index: 999;
}

.search-popup {
  background-color: #c8e775;
  width: 100%;
  max-width: 100%;
  padding: 2vh;
  border-radius: 0 0 2vh 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-bar {
  width: 90%;
  border: none;
  padding: 1.2vh 2vh;
  border-radius: 3vh;
  margin-bottom: 2vh;
  background-color: #fdf0cc;
  display: flex;
  justify-content: left;
  align-items: center;
}

.search-input {
  width: 95%;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0);
  text-decoration: underline;
  font-size: 2vh;
}

.search-popup-nav {
  display: flex;
  flex-direction: column;
  gap: 1vh;
  text-align: center;
}

/* payment confirmation page */
.confirmation-section {
  display: flex;
  padding-bottom: 5%;

}

.order-details {
  flex: 1;
  padding: 5%;
}

.summary {
  flex: 1;
  padding: 5%;
  background-color: #c8e775;
}

.order-details h2,
.summary h2 {
  margin-bottom: 1vh;
}

.row,
.summary-row {
  display: flex;
  justify-content: space-between;
 
}

.thank-you {
    background-color: #c8e775;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
    gap: 40vh;
}
