/*   SPLIT THIS CSS PAGE INTO COLORS, LAYOUTS, FONTS, ETC*/

/* General page style */
.split-display {
  display: flex;
}
.split-right {
  flex: 1;
  background-color: #FFECC9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2vmax;
  text-align: center;
}

.split-right h1 {
    font-size: 3vmax;
    font-style:normal;
  }

.split-right p {
    font-size: 2vmax;
    padding-top: 0.5vmax;
    padding-left: 3vmax;
    padding-right: 3vmax;
  }

.split-left {
  flex: 1;
}

.sample-product {
  display: flex;
  background-color:#FFECC9;
  padding: 5vmax;  
}

.split-sample {
  flex: 1;
  flex-direction: column;
  justify-content: center;
  display:flex;
  align-items: center;
}

.text {
  line-height: 1vmax;
  p {
    font-family: Segoe;
    font-size: 2vmax;
  }
}


/* home page */
.Catering {
  display: flex;
  padding: 2vmax;  
}

.split_cater {
  flex: 1;
  flex-direction: column;
  justify-content: center;
  display:flex;
  align-items: center;
  padding:2vmax;
}

@media screen and (max-width: 400px) {
  .Catering {
    display: flex;
    flex-direction: column;
    padding: 2vmax;  
  } 
  
  .sample-product {
    display: flex;
    background-color:#FFECC9;
    padding: 5vmax;  
    flex-direction: column;
  }
  
}

.hours-section {
  text-align: center;
  background-color: #c5e57b; /* light green */
  padding: 5vmax 1vmax;
  font-family: Segoe; /* use your chosen font */
}

.hours-title {
  font-size: 3vmax;
  margin-bottom: 1vmax;
  font-style: italic;
  font-weight: bold;
  font-family: RunWild;
}

.hours-box {
  display: inline-block;
  background-color: #f7e9c5; /* light cream */
  padding: 2vmax 5vmax;
  border-radius: 40px;
  line-height: 2.5vmax;
}

.hours-box p {
  font-family: Segoe;
  font-size: 1.6vmax;
  font-weight: 500;
}

/* item page */
.product-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1vmax;
}

.quantity-selector {
  display: flex;
  align-items: center;
  background-color: #c8e775;
  border-radius: 3vmax;
  overflow: hidden;
  font-size: 2vmax;
}

@media screen and (max-width: 400px) {
  .split-display {
    display: flex;
    flex-direction: column;
  }


  
} 

/* shop page */
.product-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3vmax;
    padding: 2vmax;
}

.product {
    width: 17.5vmax;
    text-align: center;
}

/* cart page */
@media screen and (min-width: 401px) {

  .cart-layout {
    display: flex;
    height: calc(100vmax - 16vmax); /* Adjust if needed */
  }

  .cart-left {
    flex: 1;
    overflow-y: auto;
    padding: 2vmax;
  }
  .cart-right {
    width: 50%;
    background-color: #c8e775;
    padding: 3vmax 2vmax;
    position: sticky;
    top: 0;
    height: 78.1vmax;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 400px) {
  .cart-layout {
    display: flex;
    flex-direction: column;
  }

  .cart-left {
    padding: 2vmax;
  }

  .cart-right {
    background-color: #c8e775;
    padding: 3vmax 2vmax;
    box-sizing: border-box;
    position: sticky;
    top: 30vmax;
  }

  .to-checkout {
    padding: 5vmax 5vmax;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 10vmax;
  }
}

.order-total {
    padding: 0 5vmax;
    display: flex;
    justify-content: space-between;
    font-size: 1.8vmax;
}

.to-checkout {
  margin-top: 20vmax;
  padding: 5vmax 5vmax;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 10vmax;
}

.cart-item {
  margin-bottom: 2vmax;
}

.item-details {
  display: flex;
  justify-content: space-between;
  padding: 2vh 0;
  
}

.price {
  margin-left: auto;
  margin-top: auto;
}

hr {
  border: none;
  border-top: 0.1vmax solid #aaa;
  margin: 2vmax 0;
}

/* search results page */
.search-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  gap: 3vmax;
  padding: 0.3vmax;
}

/* search popup */

.search-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none; /* hidden by default */
  justify-content: center;
  align-items: start;
  z-index: 999;
}

.search-popup {
  background-color: #c8e775;
  width: 100%;
  max-width: 100%;
  padding: 2vmax;
  border-radius: 0 0 2vmax 2vmax;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-bar {
  width: 90%;
  border: none;
  padding: 1.2vmax 2vmax;
  border-radius: 3vmax;
  margin-bottom: 2vmax;
  background-color: #fdf0cc;
  display: flex;
  justify-content: left;
  align-items: center;
}

.search-input {
  width: 95%;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0);
  text-decoration: underline;
  font-size: 2vmax;
}

.search-popup-nav {
  display: flex;
  flex-direction: column;
  gap: 1vmax;
  text-align: center;
}

/* payment confirmation page */
.confirmation-section {
  display: flex;
  padding-bottom: 5%;
}

.order-details {
  order: 1;
  flex: 1;
  padding: 5%;
}

.summary {
  order: 2;
  flex: 1;
  padding: 5%;
  background-color: #c8e775;
}

.order-details h2,
.summary h2 {
  margin-bottom: 1vmax;
}

.row,
.summary-row {
  display: flex;
  justify-content: space-between;
 
}

.thank-you {
    background-color: #c8e775;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
    gap: 40vmax;
}

@media screen and (max-width: 400px) {
  .confirmation-section {
    display: flex;
    flex-direction: column;
    padding-bottom: 5%;
  }

  .order-details {
    order: 2;
    flex: 1;
    padding: 5%;
    background-color: #c8e775;
    gap: 5vmax;
    margin-bottom: -2.3vmax;
  }

  .summary {
    order: 1;
    flex: 1;
    padding: 5%;
    background-color: #c8e775;
    margin-bottom: 5vmax;

  }
}

/* checkout page */

.checkout-container {
  display: flex;
  flex-direction: row;
  height: calc(250vh - 120px); /* adjust for header height */
}

/* LEFT FORM COLUMN */
.checkout-left {
  flex: 1;
  padding: 20px 40px;

}

.form-section {
  margin-bottom: 40px;

}

.form-section h2 {
  margin-bottom: 20px;
}

.form-box {
  background-color: #c8e775;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input, select {
  padding: 12px;
  border-radius: 10px;
  border: none;
  background-color: #cfd9ff;
  font-family: Inter;
}

/* for card numbers */
.card-number {
  padding: 0 12px;
  border-radius: 10px;
  border: none;
  background-color: #cfd9ff;
  font-family: Inter;
  display: flex;
  justify-content: space-between;
}

.card-number input {    /* resets padding of input inside card-number */
  padding: 12px 0;
  border-radius: 10px;
  border: none;
  background-color: #cfd9ff;
  font-family: Inter;
}

.card-row {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  
}

@media screen and (max-width: 400px) {
  .card-row input {
    width: 11vh;
  }

  .card-number {
    border: none;
    background-color: #cfd9ff;
    font-family: Inter;
    display: flex;
    justify-content:space-between;
    position: relative;
  }

  .card-number img {
    padding: 0 0   0 14vh;
    position:absolute;
  }

  .card-number input {    /* resets padding of input inside card-number */
    padding: 12px 0;
    border-radius: 10px;
    border: none;
    background-color: #cfd9ff;
    font-family: Inter;
  }
}

.discount-row {
  display: flex;
  gap: 10px;
}

.discount-row input {
  flex: 1;
}

.discount-row button {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  background-color: #cfd9ff;
  cursor: pointer;
}

.payment-options {
  display: flex;
  flex-wrap: wrap;
  justify-self: center;
  gap: 10px;
  margin-bottom: 20px;
  align-items: center;
}

/* RIGHT SUMMARY COLUMN */
.checkout-right {
  width: 30%;
  background-color: #cfd9ff;
  padding: 3vh 0;
  position: sticky;
  top: 0;
  height: 100vh;
  box-sizing: border-box;
  overflow-y: auto;
}

.sticky-summary {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.summary-title {
  text-align: center;
  font-family: RunWild;
  border-bottom: 3px solid #c8e775;
  padding-bottom: 5px;
}

.scrollable-orders {
  flex:0.8;
  overflow-y: auto;
  margin: 0vh 2vh;
  display: flex;
  flex-direction: column;
}

.summary-item {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 10px;
  border-radius: 10px;
}

.checkout-btn-box {
  background-color: #c8e775;
  display: flex;
  padding: 3vh;
  flex-direction: column;
}

.checkout-btn-mobile {
  display: none;
}

.checkout-btn {
  background-color: black;
  color: white;
  font-size: 18px;
  padding: 15px;
  border: none;
  border-radius: 999px;
  cursor: pointer;
  margin-top: auto;
  align-self: center;
}

.CloseSummary {
  display: none;
}


@media screen and (max-width: 400px) {
  .checkout-container {
    display: flex;
    flex-direction: column;
    height: calc(250vh - 15vh); /* adjust for header height */
  }

  /* LEFT FORM COLUMN */
  .checkout-left {
    order: 2;
    flex: 1;
    padding: 20px 40px;

  }

  /* RIGHT FORM COLUMN */
  .checkout-right {
    order: 1;
    background-color: #cfd9ff;
    width: 100%;
    position: sticky;
    top: 0;
    height: fit-content;
    box-sizing: border-box;
    overflow-y: auto;
  }

  .checkout-btn-box {
    display: none;
  }

  .checkout-btn-mobile {
    background-color: #c8e775;
    display: flex;
    padding: 1vh;
    flex-direction: column;
  }

  .CloseSummary {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
}
