  /* Navigation */

/* main navbar */
.navbar {
  background-color: rgba(191, 230, 118, 1);
  padding: 1em 0;

}
  .nav-top {
    padding: 1em 0;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
  }
  
  .nav-down {
    max-width: 1000px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    top: 0;
  }
  
  .logo {
    color: black;
    font-size: 1.5em;
    font-weight: normal;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: Jeju;
    height: 50%;
  }

  .logo img {
    height: 5vh;
  }

  .icon img {
    padding: 0em 1em;
    height: 3vh;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 3em;
  }

@media screen and (max-width: 390px) {
  .nav-down {
    display: none;
  }

  
  .hamburger {
    display: block;
  }
  
}

/* search popup nav */
.search-nav:hover {
  padding: auto;
  width: 60vh;
  border: none;
  border-radius: 20px;
  background-color: rgba(107, 164, 0, 0.4);
}