button {
  margin: 30px;
  padding: 10px 20px;
  font-size: 16px;
}

.search-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none; /* hidden by default */
  justify-content: center;
  align-items: start;
  z-index: 999;
}

.search-popup {
  background-color: #c8e775;
  width: 100%;
  max-width: 100%;
  padding: 20px;
  border-radius: 0 0 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-bar {
  width: 90%;
  border: none;
  padding: 12px 20px;
  border-radius: 30px;
  margin-bottom: 20px;
  font-size: 18px;
  background-color: #fdf0cc;
  font-family: cursive;
}

.popup-links {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}

.popup-links a {
  color: black;
  text-decoration: none;
  font-size: 24px;
}
