/* General page style, for styling that applies to many pages */

body {
    margin:auto;
    background-color: rgba(191, 230, 118, 1);
    color: #000000;
}

/* banners for pages */
.page-banner {
  background-color: #cfd9ff;
  text-align: center;
  padding: 3vh 4vh 5vh;
  font-size: 20px;
  font-family: RunWild;
}